@font-face{
  font-family: BrassMono;
  src:url("/font/Brass Mono/BrassMono-Bold.ttf");
}
@font-face{
  font-family: Finlandica;
  src:url("/font/Finlandica/Finlandica-Regular.ttf");
}

body{
  background-color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position:sticky;
  top: 0;
  padding: 18px;
  a{
    text-decoration: none;
    margin: 10px;
    color: #585858;
    font-size: 20px;
  }
  div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px;
    margin-left: 15px;
    #string{
      margin-bottom: 5px;
      color: #878787;
      font-size: 14.8px;

    }
    #number{
      color: #000000;
      font-size: 18px;
      font-family: "BrassMono";
    }
  }
}



#home{
  display: flex;
  justify-content: center;
  margin: 120px 0px;
  #description{
    color: #000000b3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    margin-right: 80px;
    font-size: 20px;
    h1{
      line-height: 1.3;
      font-size: 48px;
      margin: 0;
      margin-bottom: 24px;
      color: #212121;
    }
    div{
      display: flex;
      margin-bottom: 24px;
      a{
        text-decoration: none;
        padding: 16px 32px;
        background-color: #1a96f6;
        color: #ffffff;
        border-radius: 7px;
        // font-size: 21px;
        // margin-left: 5px;
      }
    }
  }
  #img{
    border-radius: 70px;
    display: inline-block;
    height: 540px;
    width: 540px;
    background: url(/png/wts.jpeg)center/cover;
  }
}
#blockSVG{
  background-color: #f7f8fa;
  padding-top: 120px;
  padding-bottom: 90px;
  #stolenSVG{
    .flex{
      display: flex;
      justify-content: space-evenly;
      .block{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 206px;
        width: 350px;
        .svg{
          height: 80px;
          width: 80px;
          // background-color: #878787;
          border-radius: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          -webkit-box-shadow: 0px 0px 40px #0000004d;
          box-shadow: 0px 0px 40px #0000004d;
          // box-shadow: 0px 8px 40px rgba(188, 47, 47, 0.961);
        }
        span{
          text-align: center ;
          margin-top: 20px;
          color:#212121;
          font-size: 28px;
        }
      }
    }
  }
  
}
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    line-height: 1.3;
    font-size: 48px;
    margin: 0;
    margin-bottom: 24px;
    color: #212121;
    text-align: center;
  }
  span{
    color: #000000b3;
    font-size: 27px;
    width: 730px;
    display: inline-block;
    margin: auto 0;
    text-align: center;
    margin-bottom: 30px;
  }
}
#rates{
  padding-top: 100px;
  padding-bottom: 100px;
  #cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    .priceList{
      display: flex;
      flex-direction: column;
      width: 284.4px;
      padding: 32px;
      border-radius: 16px;
      border: #0000001a 1px solid;
      margin: 30px;
      .price{
        h3{
          font-family: Open Sans, sans-serif;
          font-weight: 700;
          font-style: normal;
          color: rgba(25, 138, 225, 1);
          margin: 0;
          margin-bottom: 10px;
        }
        h4{
          font-family: "Finlandica";
          font-size: 28px;
          font-style: normal;
          color: #000;
          margin: 0;
          margin-bottom: 16px;
        }
      }
      .list{
        border-top: #0000001a 1px solid;
        padding-top: 16px;
        .quest{
          display: flex;
          margin-bottom: 12px;
          .indent{
            display: inline-block;
          }
          .indentBLOCK{
            display: block;
          }
        }
      }
      a{
        margin-top: 20px;
        text-decoration: none;
        // padding: 16px 32px;
        // display: inline-block;
        background-color: #1a96f6;
        color: #ffffff;
        border-radius: 7px;
        height: 41px;
        // width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}



